@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Work+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    background:antiquewhite;
}

.name{
    display: flex;
    color:black;
    font-family: 'Moon Dance', cursive;
    font-weight: 1000;
    font-size: 40px;
    padding-left: 70px;
    padding-top:20px;
    align-items: center;
    -webkit-box-shadow: 0px 7px 5px 0px rgba(255, 255, 255, 1);
        -moz-box-shadow: 0px 7px 5px 0px rgba(255, 255, 255, 1);
        box-shadow: 0px 7px 5px 0px rgba(255, 255, 255, 1);
}
.nav1{
    display: flex;
    list-style: none;
    margin-left:30%;
    align-items: center;
}

.list a{
    display:flex;
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-left: 30px;
    padding:40px;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}
.list a:hover{
    color: grey;
}
.descrp{
    display: block;
    margin-top: 5px;
    margin-left: 100px;
    padding-top: 70px;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    color: black;
}

.descrp2 a{
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.descrp2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content:center;
    align-items: center;
}
.one,.two,.three{
    display: flex;
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    justify-content: center;
    align-items: center;
}
.fit{
    position: relative;
    aspect-ratio: 3 / 4;
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: -26px 0;
    margin: 100px;
    border-radius: 20px;
}
.hide{
    opacity: 0.5;
    transition: opacity 1s;
}
.hide:hover{
    opacity: 1;
}
.work{
    position: relative;
    aspect-ratio: 3 / 4;
    width: 300px;
    height: 330px;
    object-fit: cover;
    object-position: -170px 0;
    margin: 80px;
    border-radius: 30px;
}
.diet{
    aspect-ratio: 3 / 4;
    width: 300px;
    height: 330px;
    object-fit: cover;
    margin: 100px;
    border-radius: 30px;
}
.footer{
    display: flex;
    align-items: center;
    padding: 20px;
    -webkit-box-shadow: inset 0px 7px 5px 0px rgba(255,255,255,1);
-moz-box-shadow: inset 0px 7px 5px 0px rgba(255,255,255,1);
box-shadow: inset 0px 7px 5px 0px rgba(255,255,255,1);
}
.footlogo {
    display: flex;
    width: 270px;
    color:black;
    font-family: 'Moon Dance', cursive;
    font-weight: 900;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
.info{
    display: block;
    margin: 0% 15% 0% 20%;
}
.info h3{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 1000;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}
.info ol{
    display: flex;
    color: black;
}
.info ol li {
    list-style: none;
    margin: 10px;
}
.info a{
    text-decoration: none;
    letter-spacing: 2px;
    color: black;
    font-family: 'Work Sans', sans-serif;
}

.info a:hover{
    text-decoration: underline;
    color: darkslategrey;
}
.contact{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 0px;
    align-items: center;
}
.contact p{
    color: black;
    font-family: 'Work Sans', sans-serif;
    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;
}
.contact ul{
    display: flex;
    list-style: none;
    color: black;
}
.contact a{
    margin-top: 20px;
    margin-left: 20px;
    text-decoration: none;
}
.fa {
    font-size: 50px;
    width: 50px;
    text-decoration: none;
    transition: opacity 2s;
  }
.fa:hover {
    opacity: 0.5;
  }
.fa-facebook {
    border-radius:50px;
    color: black;
  }
  
.fa-twitter {
    border-radius: 50px;
    color: black;
}
.fa-instagram{
    border-radius: 50%;
    color:black;
}

.copyright{
    position: relative;
    bottom: 10%;
    color:black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}











